.wrapper {
  display: grid;

  height: 100vh;

  grid-template-areas: 'header' 'controls' 'menu' 'clockface' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr auto;
}

@media screen and (max-width: 375px) {
  .wrapper {
    grid-template-rows: 130px 130px 0 240px auto;
  }
}