$base-bg-color: #EEE !default;

.footer {
  align-self: center;
  min-height: 50px;
  height: 100px;

  grid-area: footer;
  &__shortcuts {
    text-align: center;
    margin-top: 3em;
    & > li {
      display: inline-block;

      margin-right: 2em;
      & > code {
        padding: 3px;

        border: 1px solid $base-bg-color - #222;
        border-radius: 10%;
        background-color: $base-bg-color;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .footer {
    &__shortcuts {
      margin-top: 1em;
      margin-bottom: 0;
      & > li {
        margin-bottom: 1em;
      }
    }
  }
}