$base-tomato-color: #FF6347;
$base-green-color: #2ECC71;
$base-bg-color: #EEE;
$option-width: 300px;
$slider-label-width: 40px;
$slider-width: calc(100% - (#{$slider-label-width + 30px}));
$slider-thumb-size: 22px;

.settings {
  position: fixed;
  z-index: 100;
  top: 25%;
  right: 0;

  display: block;

  transition: all .8s cubic-bezier(.455, .03, .515, .955);

  backface-visibility: hidden;
  &.hide {
    right: -400px;
  }
  &__form {
    padding: 20px;

    border: 1px solid black;
    border-radius: 4%;
    background-color: #FFF;
  }
}

.option {
  width: $option-width;
  margin-bottom: 20px;
  &__label {
    display: inline-block;

    margin: 0 auto;

    text-align: center;
    text-transform: capitalize;
  }
  &__range {
    width: $slider-width;
    height: $slider-thumb-size / 2;

    border: none;
    border-radius: 1vw;
    outline: none;
    background: $base-bg-color;

    -webkit-appearance: none;

    &::-moz-range-track {
      border: inherit;
      background: transparent;
    }
    &::-ms-track {
      color: transparent;
      border: inherit;
      background: transparent;
    }
    &::-ms-fill-lower,
    ::-ms-fill-upper {
      background: transparent;
    }
    &::-ms-tooltip {
      display: none;
    }

    &::-webkit-slider-thumb {
      width: $slider-thumb-size;
      height: $slider-thumb-size;

      border: none;
      border-radius: 50%;

      -webkit-appearance: none;
    }
    &::-moz-range-thumb {
      width: $slider-thumb-size;
      height: $slider-thumb-size;

      border: none;
      border-radius: 50%;
    }
    &::-ms-thumb {
      width: $slider-thumb-size;
      height: $slider-thumb-size;

      border: 0;
      border-radius: 50%;
    }
    &--work {
      &::-webkit-slider-thumb {
        background-image: linear-gradient(to bottom, #FFB1A3 0%, #FF6347 100%);
      }
      &::-moz-range-thumb {
        background-image: linear-gradient(to bottom, #FFB1A3 0%, #FF6347 100%);
      }
      &::-ms-thumb {
        background-image: linear-gradient(to bottom, #FFB1A3 0%, #FF6347 100%);
      }
    }
    &--rest {
      &::-webkit-slider-thumb {
        background-image: linear-gradient(to bottom, #93BFA5 0%, #2ECC70 100%);
      }
      &::-moz-range-thumb {
        background-image: linear-gradient(to bottom, #93BFA5 0%, #2ECC70 100%);
      }
      &::-ms-thumb {
        background-image: linear-gradient(to bottom, #93BFA5 0%, #2ECC70 100%);
      }
    }
  }
  &__value {
    position: relative;

    display: inline-block;

    width: $slider-label-width;
    margin-left: 15px;
    padding: 5px;

    text-align: center;

    color: #FFF;
    border-radius: 10%;
    &:before {
      position: absolute;
      top: 7px;
      left: -7px;

      width: 0;
      height: 0;

      content: '';

      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
    &--work {
      background: $base-tomato-color;
      &:before {
        border-right: 7px solid $base-tomato-color;
      }
    }
    &--rest {
      background: $base-green-color;
      &:before {
        border-right: 7px solid $base-green-color;
      }
    }
  }
  &__checkbox {
    margin-right: 8px;
  }
}
